{% extends "base.html" %}
{% block content %}
    
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
                <div class="p-5">
                    <h2 class="display-5">Analyze Canada Rentals</h2>
                    <p>Please select the basic information for each analysis.</p>

                    <!-- Select the city -->
                    <form class="form" action="#"  method="post" enctype="multipart/form-data">
                      <label class="my-1 mr-2" for="inlineFormCustomSelectPref">City</label>
                      <select name="city"  class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                        <option selected>Choose the city...</option> 

                        {% for city_name in major_cities %}
                        <option value="{{ city_name }}">{{ city_name }}</option>
                        {% endfor %}

                      </select>


                      <!-- select the residence type -->

                      {% for i, type in enumerate(types) %} 
                      <div class="form-check form-check-inline" style="padding: 10px;">
                      <input  name="types_name"  class="form-check-input" type="checkbox" value="{{type}}"/>
                      <label class="form-check-label" for="inlineCheckbox{{i}}"  for="inlineCheckbox{{i}}">{{type}}</label>
                    </div>
                      {% endfor %}


                    <!-- price min max -->

                        <div class="form-group row">
                          <label for="inputEmail3" class="col-sm-2 col-form-label">Maximum price:</label>
                          <div class="col-sm-10">
                            <input type="number" class="form-control" name="max" placeholder="Minimum price (0)">
                          </div>
                              <label for="inputEmail3" class="col-sm-2 col-form-label">Minimum Price:</label>
                              <div class="col-sm-10">
                                <input type="number" class="form-control" name="min" placeholder="Maximum price (5000)">
                              </div>
                            </div>
                  

                   <br>
                   <!-- submit the info -->
                   <div class="form-group">
                    <button type="submit" id="btn-submit" style="background-color: #58daff ;color: aliceblue;" name="submit" value="Submit"  class="btn">submit</button>
</div>
                    </form>
            </div>
   
    </div>
</section>

{% endblock %}
