{% extends "base.html" %}
{% block content %}
    

            <!-- Content section 1-->
            <section id="scroll">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-lg-2">
                            <div class="p-5">
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <a class="dropdown-item" href="#">Dropdown link</a>
                                    <a class="dropdown-item" href="#">Dropdown link</a>
                                  </div>
                        </div>
                        <div class="col-lg-6 order-lg-1">
                            <div class="p-5">
                                <h2 class="display-5">Analyze Canada Rentals</h2>
                                <p>In this project, we scrape data from one of the most famous renting websites, RentFaster, and 
                                    try to analyze residence options based on city, type, community, etc.
                                </p>
                                <button type="button" button='yes' style="background-color: #58daff;color: aliceblue;"  class="btn">Try it!</button>
                                <button type="button" button='yes'  style="background-color: #58daff ;color: aliceblue;"  class="btn">Preview of analysis</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}
