<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_709c6ba415541915e9f7958f731fb71b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_709c6ba415541915e9f7958f731fb71b" ></div>
        
</body>
<script>    
    
            var map_709c6ba415541915e9f7958f731fb71b = L.map(
                "map_709c6ba415541915e9f7958f731fb71b",
                {
                    center: [51.0447, -114.0719],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                    title: "Sample rentals",
                }
            );

            

        
    
            var tile_layer_03ef0c056dfaa0ae15737146518dede7 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_709c6ba415541915e9f7958f731fb71b);
        
    
            var marker_04afd08f3deef9b557375d31e77295e8 = L.marker(
                [51.1110212, -114.160254],
                {}
            ).addTo(map_709c6ba415541915e9f7958f731fb71b);
        
    
            var icon_797127b871fc72547e789458b89345ef = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_04afd08f3deef9b557375d31e77295e8.setIcon(icon_797127b871fc72547e789458b89345ef);
        
    
        var popup_6f95a9a5d75cfa9ff410350dcdbd511a = L.popup({"maxWidth": "100%"});

        
            var html_3d34b4fe78eb8fc96b24b09552d01545 = $(`<div id="html_3d34b4fe78eb8fc96b24b09552d01545" style="width: 100.0%; height: 100.0%;">House Price:2700.0 Availability: April</div>`)[0];
            popup_6f95a9a5d75cfa9ff410350dcdbd511a.setContent(html_3d34b4fe78eb8fc96b24b09552d01545);
        

        marker_04afd08f3deef9b557375d31e77295e8.bindPopup(popup_6f95a9a5d75cfa9ff410350dcdbd511a)
        ;

        
    
    
            var marker_77ff42da8219d6d4e4011535a7faf688 = L.marker(
                [50.920458, -113.9192861],
                {}
            ).addTo(map_709c6ba415541915e9f7958f731fb71b);
        
    
            var icon_e71dcdcc780e50c3ba1083045c87fee8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_77ff42da8219d6d4e4011535a7faf688.setIcon(icon_e71dcdcc780e50c3ba1083045c87fee8);
        
    
        var popup_1ee45a093c5df6b5284718330d693549 = L.popup({"maxWidth": "100%"});

        
            var html_48aae7c62230642e3065d0a6bf7f4b4d = $(`<div id="html_48aae7c62230642e3065d0a6bf7f4b4d" style="width: 100.0%; height: 100.0%;">Condo Price:1300.0 Availability: January</div>`)[0];
            popup_1ee45a093c5df6b5284718330d693549.setContent(html_48aae7c62230642e3065d0a6bf7f4b4d);
        

        marker_77ff42da8219d6d4e4011535a7faf688.bindPopup(popup_1ee45a093c5df6b5284718330d693549)
        ;

        
    
    
            var marker_f3cd3a2af3ad5d4d8f201cd6b14fc7b0 = L.marker(
                [51.1712501, -114.1369216],
                {}
            ).addTo(map_709c6ba415541915e9f7958f731fb71b);
        
    
            var icon_b21ff782ca331b0e4322d63032ed1765 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_f3cd3a2af3ad5d4d8f201cd6b14fc7b0.setIcon(icon_b21ff782ca331b0e4322d63032ed1765);
        
    
        var popup_b916071869ed45eb1f9bd4df3479822b = L.popup({"maxWidth": "100%"});

        
            var html_fbfff505548b73f9fae0ad7bd2e678ca = $(`<div id="html_fbfff505548b73f9fae0ad7bd2e678ca" style="width: 100.0%; height: 100.0%;">Condo Price:1500.0 Availability: April</div>`)[0];
            popup_b916071869ed45eb1f9bd4df3479822b.setContent(html_fbfff505548b73f9fae0ad7bd2e678ca);
        

        marker_f3cd3a2af3ad5d4d8f201cd6b14fc7b0.bindPopup(popup_b916071869ed45eb1f9bd4df3479822b)
        ;

        
    
    
            var marker_6b3a8d4c1cc9d412810a7af6cb04a7b0 = L.marker(
                [51.0384827, -114.0154769],
                {}
            ).addTo(map_709c6ba415541915e9f7958f731fb71b);
        
    
            var icon_b380c0c409e25ab3668760198a09e64d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_6b3a8d4c1cc9d412810a7af6cb04a7b0.setIcon(icon_b380c0c409e25ab3668760198a09e64d);
        
    
        var popup_5240659e9853bf923058bbc3e353fb3e = L.popup({"maxWidth": "100%"});

        
            var html_e24c7ad3391cfb06150b23964111c8ab = $(`<div id="html_e24c7ad3391cfb06150b23964111c8ab" style="width: 100.0%; height: 100.0%;">Condo Price:2600.0 Availability: June</div>`)[0];
            popup_5240659e9853bf923058bbc3e353fb3e.setContent(html_e24c7ad3391cfb06150b23964111c8ab);
        

        marker_6b3a8d4c1cc9d412810a7af6cb04a7b0.bindPopup(popup_5240659e9853bf923058bbc3e353fb3e)
        ;

        
    
    
            var marker_c8f002438191c008bbd7eb96e85a4aee = L.marker(
                [50.8935939, -113.9440269],
                {}
            ).addTo(map_709c6ba415541915e9f7958f731fb71b);
        
    
            var icon_abc5c284655c6fa9f26b4d10dffee621 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_c8f002438191c008bbd7eb96e85a4aee.setIcon(icon_abc5c284655c6fa9f26b4d10dffee621);
        
    
        var popup_c9a6d6b201f4b417b116c492d34b0c5e = L.popup({"maxWidth": "100%"});

        
            var html_d4a8ab72291a2bb384407c4ecb230e9c = $(`<div id="html_d4a8ab72291a2bb384407c4ecb230e9c" style="width: 100.0%; height: 100.0%;">Condo Price:1600.0 Availability: January</div>`)[0];
            popup_c9a6d6b201f4b417b116c492d34b0c5e.setContent(html_d4a8ab72291a2bb384407c4ecb230e9c);
        

        marker_c8f002438191c008bbd7eb96e85a4aee.bindPopup(popup_c9a6d6b201f4b417b116c492d34b0c5e)
        ;

        
    
    
            var marker_de211ec65eacad1de5ff23ccf04e8a9b = L.marker(
                [51.032915780112, -114.11230061936],
                {}
            ).addTo(map_709c6ba415541915e9f7958f731fb71b);
        
    
            var icon_035c5b5b0291aaba683942974ff9b2e8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_de211ec65eacad1de5ff23ccf04e8a9b.setIcon(icon_035c5b5b0291aaba683942974ff9b2e8);
        
    
        var popup_e6e8f96ecc933acc1c0f23091e5246b5 = L.popup({"maxWidth": "100%"});

        
            var html_5098166143a3d14897684a3ed0164a5c = $(`<div id="html_5098166143a3d14897684a3ed0164a5c" style="width: 100.0%; height: 100.0%;">House Price:2300.0 Availability: January</div>`)[0];
            popup_e6e8f96ecc933acc1c0f23091e5246b5.setContent(html_5098166143a3d14897684a3ed0164a5c);
        

        marker_de211ec65eacad1de5ff23ccf04e8a9b.bindPopup(popup_e6e8f96ecc933acc1c0f23091e5246b5)
        ;

        
    
    
            var marker_2e1fd6299a26b651af437c67d34491d1 = L.marker(
                [51.072606, -114.095759],
                {}
            ).addTo(map_709c6ba415541915e9f7958f731fb71b);
        
    
            var icon_0eb23e35a9f94815f7b221ec0f702fd7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_2e1fd6299a26b651af437c67d34491d1.setIcon(icon_0eb23e35a9f94815f7b221ec0f702fd7);
        
    
        var popup_4f0872c1f053ddbfb575c48ebafa57d9 = L.popup({"maxWidth": "100%"});

        
            var html_b93bb0b8a470df915c85c71cb606cace = $(`<div id="html_b93bb0b8a470df915c85c71cb606cace" style="width: 100.0%; height: 100.0%;">Basement Price:1300.0 Availability: June</div>`)[0];
            popup_4f0872c1f053ddbfb575c48ebafa57d9.setContent(html_b93bb0b8a470df915c85c71cb606cace);
        

        marker_2e1fd6299a26b651af437c67d34491d1.bindPopup(popup_4f0872c1f053ddbfb575c48ebafa57d9)
        ;

        
    
    
            var marker_d553628631adfe12a2eb3f5d1f216bef = L.marker(
                [51.0418914, -114.0688895],
                {}
            ).addTo(map_709c6ba415541915e9f7958f731fb71b);
        
    
            var icon_a8a8d69a2f5893bb28388d5c3142ce0d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_d553628631adfe12a2eb3f5d1f216bef.setIcon(icon_a8a8d69a2f5893bb28388d5c3142ce0d);
        
    
        var popup_a682d372782f83fdee8bda06e6625d1c = L.popup({"maxWidth": "100%"});

        
            var html_49cd99ffa87c72a71dc5a8fc6099c230 = $(`<div id="html_49cd99ffa87c72a71dc5a8fc6099c230" style="width: 100.0%; height: 100.0%;">Apartment Price:1400.0 Availability: January</div>`)[0];
            popup_a682d372782f83fdee8bda06e6625d1c.setContent(html_49cd99ffa87c72a71dc5a8fc6099c230);
        

        marker_d553628631adfe12a2eb3f5d1f216bef.bindPopup(popup_a682d372782f83fdee8bda06e6625d1c)
        ;

        
    
    
            var marker_04678040432220232aa032133321ae01 = L.marker(
                [51.053041427845, -114.065547991016],
                {}
            ).addTo(map_709c6ba415541915e9f7958f731fb71b);
        
    
            var icon_8d6446e5ce13446043e5a6077e8bba91 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_04678040432220232aa032133321ae01.setIcon(icon_8d6446e5ce13446043e5a6077e8bba91);
        
    
        var popup_b62b99037d8a139a2e188a7adc22827f = L.popup({"maxWidth": "100%"});

        
            var html_c71bee32715d1e983e87d63674be7edc = $(`<div id="html_c71bee32715d1e983e87d63674be7edc" style="width: 100.0%; height: 100.0%;">Condo Price:1750.0 Availability: January</div>`)[0];
            popup_b62b99037d8a139a2e188a7adc22827f.setContent(html_c71bee32715d1e983e87d63674be7edc);
        

        marker_04678040432220232aa032133321ae01.bindPopup(popup_b62b99037d8a139a2e188a7adc22827f)
        ;

        
    
    
            var marker_b2ae80d4d9c4950263986f71fe079dd3 = L.marker(
                [51.0833071, -114.1234627],
                {}
            ).addTo(map_709c6ba415541915e9f7958f731fb71b);
        
    
            var icon_78acf39e1b84d1f0a3c34fcb39e252d9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_b2ae80d4d9c4950263986f71fe079dd3.setIcon(icon_78acf39e1b84d1f0a3c34fcb39e252d9);
        
    
        var popup_fa726a95c85952f807e57222298ec954 = L.popup({"maxWidth": "100%"});

        
            var html_ad1aaee8cbfa74d1788427c3d33f4a8c = $(`<div id="html_ad1aaee8cbfa74d1788427c3d33f4a8c" style="width: 100.0%; height: 100.0%;">House Price:975.0 Availability: January</div>`)[0];
            popup_fa726a95c85952f807e57222298ec954.setContent(html_ad1aaee8cbfa74d1788427c3d33f4a8c);
        

        marker_b2ae80d4d9c4950263986f71fe079dd3.bindPopup(popup_fa726a95c85952f807e57222298ec954)
        ;

        
    
    
            var marker_3e24e3b0c4420c8fe2263510c79d11bd = L.marker(
                [51.0389061, -114.216173],
                {}
            ).addTo(map_709c6ba415541915e9f7958f731fb71b);
        
    
            var icon_faeed6b54dd2fbf39e48767add39dcfd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_3e24e3b0c4420c8fe2263510c79d11bd.setIcon(icon_faeed6b54dd2fbf39e48767add39dcfd);
        
    
        var popup_afe9a2a0191a043be713ecb5afcea502 = L.popup({"maxWidth": "100%"});

        
            var html_ed7774fcba13a40aaaf66cf1bfef3afa = $(`<div id="html_ed7774fcba13a40aaaf66cf1bfef3afa" style="width: 100.0%; height: 100.0%;">Condo Price:1800.0 Availability: June</div>`)[0];
            popup_afe9a2a0191a043be713ecb5afcea502.setContent(html_ed7774fcba13a40aaaf66cf1bfef3afa);
        

        marker_3e24e3b0c4420c8fe2263510c79d11bd.bindPopup(popup_afe9a2a0191a043be713ecb5afcea502)
        ;

        
    
    
            var marker_7deab2fb2e30da0adf00ae09d33927a7 = L.marker(
                [51.184118227946, -114.07281422356],
                {}
            ).addTo(map_709c6ba415541915e9f7958f731fb71b);
        
    
            var icon_9eee842958700ccb3dc684aab0ac5d91 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_7deab2fb2e30da0adf00ae09d33927a7.setIcon(icon_9eee842958700ccb3dc684aab0ac5d91);
        
    
        var popup_baab046c638e6e4f47fbea56a0aa416a = L.popup({"maxWidth": "100%"});

        
            var html_dc4435db11dd8b14da2af7c995a7e694 = $(`<div id="html_dc4435db11dd8b14da2af7c995a7e694" style="width: 100.0%; height: 100.0%;">Apartment Price:1578.0 Availability: January</div>`)[0];
            popup_baab046c638e6e4f47fbea56a0aa416a.setContent(html_dc4435db11dd8b14da2af7c995a7e694);
        

        marker_7deab2fb2e30da0adf00ae09d33927a7.bindPopup(popup_baab046c638e6e4f47fbea56a0aa416a)
        ;

        
    
    
            var marker_76df6913c0807a2097b23fcc8c2fa907 = L.marker(
                [51.043638, -114.1009409],
                {}
            ).addTo(map_709c6ba415541915e9f7958f731fb71b);
        
    
            var icon_ce198a51965ef51eabc0232cd5c1c939 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_76df6913c0807a2097b23fcc8c2fa907.setIcon(icon_ce198a51965ef51eabc0232cd5c1c939);
        
    
        var popup_561673ee19b4601d5c011fe2d57ae6b7 = L.popup({"maxWidth": "100%"});

        
            var html_3cd2bfb2383da7c73b3a1ae971cf7980 = $(`<div id="html_3cd2bfb2383da7c73b3a1ae971cf7980" style="width: 100.0%; height: 100.0%;">Main Floor Price:1450.0 Availability: June</div>`)[0];
            popup_561673ee19b4601d5c011fe2d57ae6b7.setContent(html_3cd2bfb2383da7c73b3a1ae971cf7980);
        

        marker_76df6913c0807a2097b23fcc8c2fa907.bindPopup(popup_561673ee19b4601d5c011fe2d57ae6b7)
        ;

        
    
    
            var marker_004fe2b1ee12185c0a74deb1ee737715 = L.marker(
                [51.0349101, -114.0774354],
                {}
            ).addTo(map_709c6ba415541915e9f7958f731fb71b);
        
    
            var icon_4bbcbac4f62f16e3c59af6bc4e3a64e3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_004fe2b1ee12185c0a74deb1ee737715.setIcon(icon_4bbcbac4f62f16e3c59af6bc4e3a64e3);
        
    
        var popup_5e2c8a34698827eaa8ff4722181ca592 = L.popup({"maxWidth": "100%"});

        
            var html_94aa162fed437b92b5951f3add18e57f = $(`<div id="html_94aa162fed437b92b5951f3add18e57f" style="width: 100.0%; height: 100.0%;">Apartment Price:1200.0 Availability: January</div>`)[0];
            popup_5e2c8a34698827eaa8ff4722181ca592.setContent(html_94aa162fed437b92b5951f3add18e57f);
        

        marker_004fe2b1ee12185c0a74deb1ee737715.bindPopup(popup_5e2c8a34698827eaa8ff4722181ca592)
        ;

        
    
    
            var marker_36d2a1fd693728197e2575e9f73a4396 = L.marker(
                [51.1308262, -114.0744386],
                {}
            ).addTo(map_709c6ba415541915e9f7958f731fb71b);
        
    
            var icon_4cc9fbf175b0cf9c8495f3146cfc8c55 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_36d2a1fd693728197e2575e9f73a4396.setIcon(icon_4cc9fbf175b0cf9c8495f3146cfc8c55);
        
    
        var popup_d0cd08bbdf7ed8b9b0e8ffdbab75f4b8 = L.popup({"maxWidth": "100%"});

        
            var html_4a518b6c973ccadc2b736bb678074457 = $(`<div id="html_4a518b6c973ccadc2b736bb678074457" style="width: 100.0%; height: 100.0%;">Basement Price:1500.0 Availability: January</div>`)[0];
            popup_d0cd08bbdf7ed8b9b0e8ffdbab75f4b8.setContent(html_4a518b6c973ccadc2b736bb678074457);
        

        marker_36d2a1fd693728197e2575e9f73a4396.bindPopup(popup_d0cd08bbdf7ed8b9b0e8ffdbab75f4b8)
        ;

        
    
    
            var marker_f8892d87b3732ac11206f42e139e96ea = L.marker(
                [50.994972, -114.119563],
                {}
            ).addTo(map_709c6ba415541915e9f7958f731fb71b);
        
    
            var icon_0e85bbb4bd68e6c99f2c2a3f727d6401 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_f8892d87b3732ac11206f42e139e96ea.setIcon(icon_0e85bbb4bd68e6c99f2c2a3f727d6401);
        
    
        var popup_3079b833bb0f192934f8b0b71001f400 = L.popup({"maxWidth": "100%"});

        
            var html_b5244747470f40688402fb81aaecef78 = $(`<div id="html_b5244747470f40688402fb81aaecef78" style="width: 100.0%; height: 100.0%;">Apartment Price:1222.0 Availability: June</div>`)[0];
            popup_3079b833bb0f192934f8b0b71001f400.setContent(html_b5244747470f40688402fb81aaecef78);
        

        marker_f8892d87b3732ac11206f42e139e96ea.bindPopup(popup_3079b833bb0f192934f8b0b71001f400)
        ;

        
    
    
            var marker_755803033cc31a092ff0c3bac38cfff5 = L.marker(
                [50.960004704857, -114.108193354492],
                {}
            ).addTo(map_709c6ba415541915e9f7958f731fb71b);
        
    
            var icon_747e7cbda295e2dd6ef7c5ae4a01eb09 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_755803033cc31a092ff0c3bac38cfff5.setIcon(icon_747e7cbda295e2dd6ef7c5ae4a01eb09);
        
    
        var popup_01a2e44475933830f3b284bbb1186fec = L.popup({"maxWidth": "100%"});

        
            var html_20f070566eee705bde725b8a9a751864 = $(`<div id="html_20f070566eee705bde725b8a9a751864" style="width: 100.0%; height: 100.0%;">Condo Price:1150.0 Availability: January</div>`)[0];
            popup_01a2e44475933830f3b284bbb1186fec.setContent(html_20f070566eee705bde725b8a9a751864);
        

        marker_755803033cc31a092ff0c3bac38cfff5.bindPopup(popup_01a2e44475933830f3b284bbb1186fec)
        ;

        
    
    
            var marker_bc94a3044762c9a0f40a5c2ccd83e20b = L.marker(
                [50.8808688, -114.0823554],
                {}
            ).addTo(map_709c6ba415541915e9f7958f731fb71b);
        
    
            var icon_26b2e1a99a0e6f4954f654e7dcc87663 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_bc94a3044762c9a0f40a5c2ccd83e20b.setIcon(icon_26b2e1a99a0e6f4954f654e7dcc87663);
        
    
        var popup_488f78fe89525eb23e17b30404d9f857 = L.popup({"maxWidth": "100%"});

        
            var html_c704c85a6e3f40fe53e635f81a55f2a6 = $(`<div id="html_c704c85a6e3f40fe53e635f81a55f2a6" style="width: 100.0%; height: 100.0%;">House Price:2100.0 Availability: January</div>`)[0];
            popup_488f78fe89525eb23e17b30404d9f857.setContent(html_c704c85a6e3f40fe53e635f81a55f2a6);
        

        marker_bc94a3044762c9a0f40a5c2ccd83e20b.bindPopup(popup_488f78fe89525eb23e17b30404d9f857)
        ;

        
    
    
            var marker_a6d1e7e0c1cf424d896bee2514456e75 = L.marker(
                [51.0701899, -114.1114809],
                {}
            ).addTo(map_709c6ba415541915e9f7958f731fb71b);
        
    
            var icon_354909d9dc40bd1e116591e0fb2eaee9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_a6d1e7e0c1cf424d896bee2514456e75.setIcon(icon_354909d9dc40bd1e116591e0fb2eaee9);
        
    
        var popup_8f07b1c3835fd295f40318f30b751eee = L.popup({"maxWidth": "100%"});

        
            var html_4b0ec6d7cdf85f5c4dff62dd8ae03b74 = $(`<div id="html_4b0ec6d7cdf85f5c4dff62dd8ae03b74" style="width: 100.0%; height: 100.0%;">Shared Price:500.0 Availability: May</div>`)[0];
            popup_8f07b1c3835fd295f40318f30b751eee.setContent(html_4b0ec6d7cdf85f5c4dff62dd8ae03b74);
        

        marker_a6d1e7e0c1cf424d896bee2514456e75.bindPopup(popup_8f07b1c3835fd295f40318f30b751eee)
        ;

        
    
    
            var marker_8d3110718cadf6744ff72582acaff613 = L.marker(
                [51.076002, -114.1600431],
                {}
            ).addTo(map_709c6ba415541915e9f7958f731fb71b);
        
    
            var icon_6beae7c422718c652b9726dc5d246956 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_8d3110718cadf6744ff72582acaff613.setIcon(icon_6beae7c422718c652b9726dc5d246956);
        
    
        var popup_5af8a62eef6190452bd775419f26fb97 = L.popup({"maxWidth": "100%"});

        
            var html_a29cc2874fe32c2d52b37d00b092c6b0 = $(`<div id="html_a29cc2874fe32c2d52b37d00b092c6b0" style="width: 100.0%; height: 100.0%;">Main Floor Price:1475.0 Availability: May</div>`)[0];
            popup_5af8a62eef6190452bd775419f26fb97.setContent(html_a29cc2874fe32c2d52b37d00b092c6b0);
        

        marker_8d3110718cadf6744ff72582acaff613.bindPopup(popup_5af8a62eef6190452bd775419f26fb97)
        ;

        
    
</script>