<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_19d7cf381b6546a78ab7d8988112ac68 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_19d7cf381b6546a78ab7d8988112ac68" ></div>
        
</body>
<script>    
    
            var map_19d7cf381b6546a78ab7d8988112ac68 = L.map(
                "map_19d7cf381b6546a78ab7d8988112ac68",
                {
                    center: [51.0447, -114.0719],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                    title: "Sample rentals",
                }
            );

            

        
    
            var tile_layer_254ed4d049d249439783c636a1fa0996 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_19d7cf381b6546a78ab7d8988112ac68);
        
    
            var marker_c356c86a181a4dfe83c1ed7f4a391ab2 = L.marker(
                [51.0241944, -114.1149641],
                {}
            ).addTo(map_19d7cf381b6546a78ab7d8988112ac68);
        
    
            var icon_2341dd620ad546c692911e12955187a4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_c356c86a181a4dfe83c1ed7f4a391ab2.setIcon(icon_2341dd620ad546c692911e12955187a4);
        
    
        var popup_62c07de5cd264c9fb81e157e18f58ded = L.popup({"maxWidth": "100%"});

        
            var html_47e6ea1e858049cd88589ac58e9847c5 = $(`<div id="html_47e6ea1e858049cd88589ac58e9847c5" style="width: 100.0%; height: 100.0%;">Apartment Price:nan Availability: call for availability</div>`)[0];
            popup_62c07de5cd264c9fb81e157e18f58ded.setContent(html_47e6ea1e858049cd88589ac58e9847c5);
        

        marker_c356c86a181a4dfe83c1ed7f4a391ab2.bindPopup(popup_62c07de5cd264c9fb81e157e18f58ded)
        ;

        
    
    
            var marker_53b4e0eb99c1431cb8ab372c9c9fec39 = L.marker(
                [51.0906724, -114.0666688],
                {}
            ).addTo(map_19d7cf381b6546a78ab7d8988112ac68);
        
    
            var icon_c3d60311ce6742069a60eb6cae282348 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_53b4e0eb99c1431cb8ab372c9c9fec39.setIcon(icon_c3d60311ce6742069a60eb6cae282348);
        
    
        var popup_e6ed6cc2adf84861bbe3a71c8da3a7de = L.popup({"maxWidth": "100%"});

        
            var html_5a26e25a9a2948d693ee0292df822459 = $(`<div id="html_5a26e25a9a2948d693ee0292df822459" style="width: 100.0%; height: 100.0%;">Basement Price:1500.0 Availability: May</div>`)[0];
            popup_e6ed6cc2adf84861bbe3a71c8da3a7de.setContent(html_5a26e25a9a2948d693ee0292df822459);
        

        marker_53b4e0eb99c1431cb8ab372c9c9fec39.bindPopup(popup_e6ed6cc2adf84861bbe3a71c8da3a7de)
        ;

        
    
    
            var marker_0d6602218857485ca29762348af4c735 = L.marker(
                [51.108143, -113.936489],
                {}
            ).addTo(map_19d7cf381b6546a78ab7d8988112ac68);
        
    
            var icon_32bff1bb69fa44b9be27cd02159b0f79 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_0d6602218857485ca29762348af4c735.setIcon(icon_32bff1bb69fa44b9be27cd02159b0f79);
        
    
        var popup_e2051caca39843dcb387ceac74156c64 = L.popup({"maxWidth": "100%"});

        
            var html_6ffdbfd6d7e64ff89b579fb4af0ea248 = $(`<div id="html_6ffdbfd6d7e64ff89b579fb4af0ea248" style="width: 100.0%; height: 100.0%;">Apartment Price:1099.0 Availability: January</div>`)[0];
            popup_e2051caca39843dcb387ceac74156c64.setContent(html_6ffdbfd6d7e64ff89b579fb4af0ea248);
        

        marker_0d6602218857485ca29762348af4c735.bindPopup(popup_e2051caca39843dcb387ceac74156c64)
        ;

        
    
    
            var marker_cc6b3f55e7b54ed6b4605abaa95546f5 = L.marker(
                [51.0465071, -114.0868186],
                {}
            ).addTo(map_19d7cf381b6546a78ab7d8988112ac68);
        
    
            var icon_2f2c6eba2c3f4c078c1b1fcb56ad0975 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_cc6b3f55e7b54ed6b4605abaa95546f5.setIcon(icon_2f2c6eba2c3f4c078c1b1fcb56ad0975);
        
    
        var popup_aab3c219f96c45ea941966b9a368ec2f = L.popup({"maxWidth": "100%"});

        
            var html_9d6afbd749524c3ab75317acf006b603 = $(`<div id="html_9d6afbd749524c3ab75317acf006b603" style="width: 100.0%; height: 100.0%;">Condo Price:1750.0 Availability: January</div>`)[0];
            popup_aab3c219f96c45ea941966b9a368ec2f.setContent(html_9d6afbd749524c3ab75317acf006b603);
        

        marker_cc6b3f55e7b54ed6b4605abaa95546f5.bindPopup(popup_aab3c219f96c45ea941966b9a368ec2f)
        ;

        
    
    
            var marker_e15f2e812b3c49fb88c79fcd83a5c121 = L.marker(
                [50.948086, -114.080047],
                {}
            ).addTo(map_19d7cf381b6546a78ab7d8988112ac68);
        
    
            var icon_9d05711f602a4f20a35092cde89f667c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_e15f2e812b3c49fb88c79fcd83a5c121.setIcon(icon_9d05711f602a4f20a35092cde89f667c);
        
    
        var popup_c759bd87c60e40fa991741c0f7c09472 = L.popup({"maxWidth": "100%"});

        
            var html_bcdb67f19a1f4737ac1e105993ba5fb7 = $(`<div id="html_bcdb67f19a1f4737ac1e105993ba5fb7" style="width: 100.0%; height: 100.0%;">Main Floor Price:1100.0 Availability: May</div>`)[0];
            popup_c759bd87c60e40fa991741c0f7c09472.setContent(html_bcdb67f19a1f4737ac1e105993ba5fb7);
        

        marker_e15f2e812b3c49fb88c79fcd83a5c121.bindPopup(popup_c759bd87c60e40fa991741c0f7c09472)
        ;

        
    
    
            var marker_9408625fb3a2418c88bd800342b4a3e2 = L.marker(
                [51.0402772, -114.0662295],
                {}
            ).addTo(map_19d7cf381b6546a78ab7d8988112ac68);
        
    
            var icon_5fddd53043ee4f5d92e207148e230576 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_9408625fb3a2418c88bd800342b4a3e2.setIcon(icon_5fddd53043ee4f5d92e207148e230576);
        
    
        var popup_02a75b7882a049cbba834816499a6c92 = L.popup({"maxWidth": "100%"});

        
            var html_dff44972ef284c7d9c0c09bfe8a4348d = $(`<div id="html_dff44972ef284c7d9c0c09bfe8a4348d" style="width: 100.0%; height: 100.0%;">Condo Price:3500.0 Availability: May</div>`)[0];
            popup_02a75b7882a049cbba834816499a6c92.setContent(html_dff44972ef284c7d9c0c09bfe8a4348d);
        

        marker_9408625fb3a2418c88bd800342b4a3e2.bindPopup(popup_02a75b7882a049cbba834816499a6c92)
        ;

        
    
    
            var marker_05132846f34e4a1286fb782dfcc7cf97 = L.marker(
                [51.0370382, -114.0790526],
                {}
            ).addTo(map_19d7cf381b6546a78ab7d8988112ac68);
        
    
            var icon_1252d4dd897e43c9890dfbf6db23d865 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_05132846f34e4a1286fb782dfcc7cf97.setIcon(icon_1252d4dd897e43c9890dfbf6db23d865);
        
    
        var popup_62bcc7df6c344040ba2ff23e1661351f = L.popup({"maxWidth": "100%"});

        
            var html_5e1376a63e894f44bd00de16a1b0e6f2 = $(`<div id="html_5e1376a63e894f44bd00de16a1b0e6f2" style="width: 100.0%; height: 100.0%;">Apartment Price:nan Availability: call for availability</div>`)[0];
            popup_62bcc7df6c344040ba2ff23e1661351f.setContent(html_5e1376a63e894f44bd00de16a1b0e6f2);
        

        marker_05132846f34e4a1286fb782dfcc7cf97.bindPopup(popup_62bcc7df6c344040ba2ff23e1661351f)
        ;

        
    
    
            var marker_24c90511a9e34cf5b3a006b10762b064 = L.marker(
                [51.0423912, -114.0886697],
                {}
            ).addTo(map_19d7cf381b6546a78ab7d8988112ac68);
        
    
            var icon_70402fd41eea47f68f030b15c7fe4d27 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_24c90511a9e34cf5b3a006b10762b064.setIcon(icon_70402fd41eea47f68f030b15c7fe4d27);
        
    
        var popup_0a335514216247e19b026385f99d7b25 = L.popup({"maxWidth": "100%"});

        
            var html_59b7bcb4417448d7b8fa608a85fdda85 = $(`<div id="html_59b7bcb4417448d7b8fa608a85fdda85" style="width: 100.0%; height: 100.0%;">Shared Price:950.0 Availability: May</div>`)[0];
            popup_0a335514216247e19b026385f99d7b25.setContent(html_59b7bcb4417448d7b8fa608a85fdda85);
        

        marker_24c90511a9e34cf5b3a006b10762b064.bindPopup(popup_0a335514216247e19b026385f99d7b25)
        ;

        
    
    
            var marker_258327aeee9a4a31b01387fe52bc097a = L.marker(
                [51.0375166, -114.1183468],
                {}
            ).addTo(map_19d7cf381b6546a78ab7d8988112ac68);
        
    
            var icon_45484a83cfc04a8884f95f8bb4f2ddf4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_258327aeee9a4a31b01387fe52bc097a.setIcon(icon_45484a83cfc04a8884f95f8bb4f2ddf4);
        
    
        var popup_36d0785b8cd24cd6852a83433ab3098b = L.popup({"maxWidth": "100%"});

        
            var html_868cb9807a9a4839a6f3c2867bcda32b = $(`<div id="html_868cb9807a9a4839a6f3c2867bcda32b" style="width: 100.0%; height: 100.0%;">Condo Price:2200.0 Availability: January</div>`)[0];
            popup_36d0785b8cd24cd6852a83433ab3098b.setContent(html_868cb9807a9a4839a6f3c2867bcda32b);
        

        marker_258327aeee9a4a31b01387fe52bc097a.bindPopup(popup_36d0785b8cd24cd6852a83433ab3098b)
        ;

        
    
    
            var marker_a97fb9b33c0142a38b8e1e7a13b95453 = L.marker(
                [50.8960136, -113.9342337],
                {}
            ).addTo(map_19d7cf381b6546a78ab7d8988112ac68);
        
    
            var icon_d7ff0454ce334c10b0419d5550ba6b8e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_a97fb9b33c0142a38b8e1e7a13b95453.setIcon(icon_d7ff0454ce334c10b0419d5550ba6b8e);
        
    
        var popup_b4a2f00d644b44a59dafbb488f1bd56a = L.popup({"maxWidth": "100%"});

        
            var html_d9a3843cacd343a5bc570fe94c635ba8 = $(`<div id="html_d9a3843cacd343a5bc570fe94c635ba8" style="width: 100.0%; height: 100.0%;">Apartment Price:2982.0 Availability: January</div>`)[0];
            popup_b4a2f00d644b44a59dafbb488f1bd56a.setContent(html_d9a3843cacd343a5bc570fe94c635ba8);
        

        marker_a97fb9b33c0142a38b8e1e7a13b95453.bindPopup(popup_b4a2f00d644b44a59dafbb488f1bd56a)
        ;

        
    
    
            var marker_4ca991feac8945038206dc82765e4d3d = L.marker(
                [51.0397665, -114.0657125],
                {}
            ).addTo(map_19d7cf381b6546a78ab7d8988112ac68);
        
    
            var icon_c920fb4ac3ea452cbb2e8ade99779121 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_4ca991feac8945038206dc82765e4d3d.setIcon(icon_c920fb4ac3ea452cbb2e8ade99779121);
        
    
        var popup_427c7a151bbb48d1acdb96e73e4af9b4 = L.popup({"maxWidth": "100%"});

        
            var html_4cded64311d04b608eb4e791fbc27071 = $(`<div id="html_4cded64311d04b608eb4e791fbc27071" style="width: 100.0%; height: 100.0%;">Apartment Price:nan Availability: call for availability</div>`)[0];
            popup_427c7a151bbb48d1acdb96e73e4af9b4.setContent(html_4cded64311d04b608eb4e791fbc27071);
        

        marker_4ca991feac8945038206dc82765e4d3d.bindPopup(popup_427c7a151bbb48d1acdb96e73e4af9b4)
        ;

        
    
    
            var marker_f37a844c6c4a4b8e88eda81958b05148 = L.marker(
                [51.0391999, -114.0963065],
                {}
            ).addTo(map_19d7cf381b6546a78ab7d8988112ac68);
        
    
            var icon_189859a8043446829925a8b03a09cf85 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_f37a844c6c4a4b8e88eda81958b05148.setIcon(icon_189859a8043446829925a8b03a09cf85);
        
    
        var popup_eac63c2d24064e24815d991d03f176bc = L.popup({"maxWidth": "100%"});

        
            var html_2ea20f099618412a8923eae852351222 = $(`<div id="html_2ea20f099618412a8923eae852351222" style="width: 100.0%; height: 100.0%;">Apartment Price:1399.0 Availability: April</div>`)[0];
            popup_eac63c2d24064e24815d991d03f176bc.setContent(html_2ea20f099618412a8923eae852351222);
        

        marker_f37a844c6c4a4b8e88eda81958b05148.bindPopup(popup_eac63c2d24064e24815d991d03f176bc)
        ;

        
    
    
            var marker_84ab3449d4ec4983ae5e250bd5aeb38e = L.marker(
                [51.0241666, -114.1141032],
                {}
            ).addTo(map_19d7cf381b6546a78ab7d8988112ac68);
        
    
            var icon_22850eea312c4cb4bdd9f2e054c392c8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_84ab3449d4ec4983ae5e250bd5aeb38e.setIcon(icon_22850eea312c4cb4bdd9f2e054c392c8);
        
    
        var popup_442df6211b5e4e509ee8b7856743be02 = L.popup({"maxWidth": "100%"});

        
            var html_2356829bac174d4e80a433bcd90f6944 = $(`<div id="html_2356829bac174d4e80a433bcd90f6944" style="width: 100.0%; height: 100.0%;">Apartment Price:1898.0 Availability: call for availability</div>`)[0];
            popup_442df6211b5e4e509ee8b7856743be02.setContent(html_2356829bac174d4e80a433bcd90f6944);
        

        marker_84ab3449d4ec4983ae5e250bd5aeb38e.bindPopup(popup_442df6211b5e4e509ee8b7856743be02)
        ;

        
    
    
            var marker_643700e2beac4d48962936e4024130f2 = L.marker(
                [51.041748, -114.0844095],
                {}
            ).addTo(map_19d7cf381b6546a78ab7d8988112ac68);
        
    
            var icon_195f940a1a484554961288e3e772149a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_643700e2beac4d48962936e4024130f2.setIcon(icon_195f940a1a484554961288e3e772149a);
        
    
        var popup_7f510551060a4dcb8ce0eab2c47a0fd5 = L.popup({"maxWidth": "100%"});

        
            var html_83d3b9f196a848d38653c57f0163a303 = $(`<div id="html_83d3b9f196a848d38653c57f0163a303" style="width: 100.0%; height: 100.0%;">Townhouse Price:1900.0 Availability: January</div>`)[0];
            popup_7f510551060a4dcb8ce0eab2c47a0fd5.setContent(html_83d3b9f196a848d38653c57f0163a303);
        

        marker_643700e2beac4d48962936e4024130f2.bindPopup(popup_7f510551060a4dcb8ce0eab2c47a0fd5)
        ;

        
    
    
            var marker_1e793454c0464a4680c0085bc156914b = L.marker(
                [51.054636, -114.1167639],
                {}
            ).addTo(map_19d7cf381b6546a78ab7d8988112ac68);
        
    
            var icon_0a51943a3dce415699ce51a9d4c5e0ea = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_1e793454c0464a4680c0085bc156914b.setIcon(icon_0a51943a3dce415699ce51a9d4c5e0ea);
        
    
        var popup_c70f60262c4945da93dfad00806c3cf4 = L.popup({"maxWidth": "100%"});

        
            var html_462a2b37e02f4ba9a7ce2557bc6dbf74 = $(`<div id="html_462a2b37e02f4ba9a7ce2557bc6dbf74" style="width: 100.0%; height: 100.0%;">Apartment Price:2600.0 Availability: January</div>`)[0];
            popup_c70f60262c4945da93dfad00806c3cf4.setContent(html_462a2b37e02f4ba9a7ce2557bc6dbf74);
        

        marker_1e793454c0464a4680c0085bc156914b.bindPopup(popup_c70f60262c4945da93dfad00806c3cf4)
        ;

        
    
    
            var marker_ea7d6732341f46fc9abb6804e51b6f2d = L.marker(
                [51.0123927, -114.141173],
                {}
            ).addTo(map_19d7cf381b6546a78ab7d8988112ac68);
        
    
            var icon_d7eeb28af93441e986e006a1ccb69c5f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_ea7d6732341f46fc9abb6804e51b6f2d.setIcon(icon_d7eeb28af93441e986e006a1ccb69c5f);
        
    
        var popup_56ae730736214f63a285dcc276c5f3b8 = L.popup({"maxWidth": "100%"});

        
            var html_523106834ec34234bb7b7f6ef5c865ef = $(`<div id="html_523106834ec34234bb7b7f6ef5c865ef" style="width: 100.0%; height: 100.0%;">Basement Price:945.0 Availability: January</div>`)[0];
            popup_56ae730736214f63a285dcc276c5f3b8.setContent(html_523106834ec34234bb7b7f6ef5c865ef);
        

        marker_ea7d6732341f46fc9abb6804e51b6f2d.bindPopup(popup_56ae730736214f63a285dcc276c5f3b8)
        ;

        
    
    
            var marker_bc431573e9cb4abbba9a5ab61ff10c39 = L.marker(
                [50.917889906235, -114.065076914294],
                {}
            ).addTo(map_19d7cf381b6546a78ab7d8988112ac68);
        
    
            var icon_f499f48b9dbc44caad7c703a7aa7092e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_bc431573e9cb4abbba9a5ab61ff10c39.setIcon(icon_f499f48b9dbc44caad7c703a7aa7092e);
        
    
        var popup_a49b23ca019f462f88c3c9d5eff84ea4 = L.popup({"maxWidth": "100%"});

        
            var html_a0c05a42e87b42ffa994623a6f429175 = $(`<div id="html_a0c05a42e87b42ffa994623a6f429175" style="width: 100.0%; height: 100.0%;">Basement Price:1300.0 Availability: May</div>`)[0];
            popup_a49b23ca019f462f88c3c9d5eff84ea4.setContent(html_a0c05a42e87b42ffa994623a6f429175);
        

        marker_bc431573e9cb4abbba9a5ab61ff10c39.bindPopup(popup_a49b23ca019f462f88c3c9d5eff84ea4)
        ;

        
    
    
            var marker_fa43cf94d39449978ff78e6cb067d8ce = L.marker(
                [51.053729190602, -114.067262258098],
                {}
            ).addTo(map_19d7cf381b6546a78ab7d8988112ac68);
        
    
            var icon_80155fc8331b4508b0a8292cf921539d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_fa43cf94d39449978ff78e6cb067d8ce.setIcon(icon_80155fc8331b4508b0a8292cf921539d);
        
    
        var popup_6b7f1514a18f4856a2deaa78147d8d7d = L.popup({"maxWidth": "100%"});

        
            var html_0b26f0f815f643669b7a6e01638dea46 = $(`<div id="html_0b26f0f815f643669b7a6e01638dea46" style="width: 100.0%; height: 100.0%;">Condo Price:2100.0 Availability: May</div>`)[0];
            popup_6b7f1514a18f4856a2deaa78147d8d7d.setContent(html_0b26f0f815f643669b7a6e01638dea46);
        

        marker_fa43cf94d39449978ff78e6cb067d8ce.bindPopup(popup_6b7f1514a18f4856a2deaa78147d8d7d)
        ;

        
    
    
            var marker_0d6073181ac14a009406699a36f2674b = L.marker(
                [51.066304011905, -114.071850330688],
                {}
            ).addTo(map_19d7cf381b6546a78ab7d8988112ac68);
        
    
            var icon_c79fce4f6d884eaa9d35b5d19a3ec178 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_0d6073181ac14a009406699a36f2674b.setIcon(icon_c79fce4f6d884eaa9d35b5d19a3ec178);
        
    
        var popup_35fff15e9d334828bf9ec30f73e47196 = L.popup({"maxWidth": "100%"});

        
            var html_888524cffe924f6d936de1b7deb5e565 = $(`<div id="html_888524cffe924f6d936de1b7deb5e565" style="width: 100.0%; height: 100.0%;">Apartment Price:1095.0 Availability: May</div>`)[0];
            popup_35fff15e9d334828bf9ec30f73e47196.setContent(html_888524cffe924f6d936de1b7deb5e565);
        

        marker_0d6073181ac14a009406699a36f2674b.bindPopup(popup_35fff15e9d334828bf9ec30f73e47196)
        ;

        
    
    
            var marker_7d8268765b3f487c9a6a299f6bfb8bfc = L.marker(
                [51.0426342, -114.1367612],
                {}
            ).addTo(map_19d7cf381b6546a78ab7d8988112ac68);
        
    
            var icon_5aa8c4ef0c334734a53e6dae05393432 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_7d8268765b3f487c9a6a299f6bfb8bfc.setIcon(icon_5aa8c4ef0c334734a53e6dae05393432);
        
    
        var popup_307c91805f814c4c87534753995f1c67 = L.popup({"maxWidth": "100%"});

        
            var html_6bde0ebc6ffe4812b75028ba09305041 = $(`<div id="html_6bde0ebc6ffe4812b75028ba09305041" style="width: 100.0%; height: 100.0%;">Condo Price:2400.0 Availability: June</div>`)[0];
            popup_307c91805f814c4c87534753995f1c67.setContent(html_6bde0ebc6ffe4812b75028ba09305041);
        

        marker_7d8268765b3f487c9a6a299f6bfb8bfc.bindPopup(popup_307c91805f814c4c87534753995f1c67)
        ;

        
    
</script>