<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f4820bb54ba2402cb22dd6b17fded639 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_f4820bb54ba2402cb22dd6b17fded639" ></div>
        
</body>
<script>    
    
            var map_f4820bb54ba2402cb22dd6b17fded639 = L.map(
                "map_f4820bb54ba2402cb22dd6b17fded639",
                {
                    center: [51.0447, -114.0719],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                    title: "Sample rentals",
                }
            );

            

        
    
            var tile_layer_466cefbe726445159087d444ad2dc5c9 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f4820bb54ba2402cb22dd6b17fded639);
        
    
            var marker_470f8f57e5474d96ae672ee3ebf09e87 = L.marker(
                [51.0533337, -114.0543425],
                {}
            ).addTo(map_f4820bb54ba2402cb22dd6b17fded639);
        
    
            var icon_226d0ebb86374795abf717ee81f8d1ed = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_470f8f57e5474d96ae672ee3ebf09e87.setIcon(icon_226d0ebb86374795abf717ee81f8d1ed);
        
    
        var popup_14bd36e5110943d399fe0020dbec86d7 = L.popup({"maxWidth": "100%"});

        
            var html_80bb675029044f3185135e029aeb65fc = $(`<div id="html_80bb675029044f3185135e029aeb65fc" style="width: 100.0%; height: 100.0%;">Apartment Price:1249.0 Availability: January</div>`)[0];
            popup_14bd36e5110943d399fe0020dbec86d7.setContent(html_80bb675029044f3185135e029aeb65fc);
        

        marker_470f8f57e5474d96ae672ee3ebf09e87.bindPopup(popup_14bd36e5110943d399fe0020dbec86d7)
        ;

        
    
    
            var marker_0142e8d1d8964b06adaefcb30569fb83 = L.marker(
                [51.0032938, -114.0700788],
                {}
            ).addTo(map_f4820bb54ba2402cb22dd6b17fded639);
        
    
            var icon_1f4262fcb2ab49c784ac7adf77b4009b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_0142e8d1d8964b06adaefcb30569fb83.setIcon(icon_1f4262fcb2ab49c784ac7adf77b4009b);
        
    
        var popup_5a0435c97e4d43a2b9f61b0bf18a8aab = L.popup({"maxWidth": "100%"});

        
            var html_43843d0d7866448bacc13f911a086821 = $(`<div id="html_43843d0d7866448bacc13f911a086821" style="width: 100.0%; height: 100.0%;">Apartment Price:1410.0 Availability: June</div>`)[0];
            popup_5a0435c97e4d43a2b9f61b0bf18a8aab.setContent(html_43843d0d7866448bacc13f911a086821);
        

        marker_0142e8d1d8964b06adaefcb30569fb83.bindPopup(popup_5a0435c97e4d43a2b9f61b0bf18a8aab)
        ;

        
    
    
            var marker_2426bda2f76a4a9684634bb7d024f7bd = L.marker(
                [50.967555, -114.1155754],
                {}
            ).addTo(map_f4820bb54ba2402cb22dd6b17fded639);
        
    
            var icon_df5f4d9a2a864359aebe63eb86a12f6a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_2426bda2f76a4a9684634bb7d024f7bd.setIcon(icon_df5f4d9a2a864359aebe63eb86a12f6a);
        
    
        var popup_324fbac716914909b1ef19d7a1eb8b7f = L.popup({"maxWidth": "100%"});

        
            var html_439f6dbdbdb346c1944e27c0ef6f1107 = $(`<div id="html_439f6dbdbdb346c1944e27c0ef6f1107" style="width: 100.0%; height: 100.0%;">House Price:2500.0 Availability: May</div>`)[0];
            popup_324fbac716914909b1ef19d7a1eb8b7f.setContent(html_439f6dbdbdb346c1944e27c0ef6f1107);
        

        marker_2426bda2f76a4a9684634bb7d024f7bd.bindPopup(popup_324fbac716914909b1ef19d7a1eb8b7f)
        ;

        
    
    
            var marker_6751cd2006684aefb663a7e63dcc381e = L.marker(
                [51.0765307, -114.1688032],
                {}
            ).addTo(map_f4820bb54ba2402cb22dd6b17fded639);
        
    
            var icon_2fa716dc93db4e18bf19901875e2b639 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_6751cd2006684aefb663a7e63dcc381e.setIcon(icon_2fa716dc93db4e18bf19901875e2b639);
        
    
        var popup_d7de428a76b14cf0ae0eff0bb46e7ba0 = L.popup({"maxWidth": "100%"});

        
            var html_ae2e97ed0c994613ab288a281f93d51c = $(`<div id="html_ae2e97ed0c994613ab288a281f93d51c" style="width: 100.0%; height: 100.0%;">Shared Price:700.0 Availability: January</div>`)[0];
            popup_d7de428a76b14cf0ae0eff0bb46e7ba0.setContent(html_ae2e97ed0c994613ab288a281f93d51c);
        

        marker_6751cd2006684aefb663a7e63dcc381e.bindPopup(popup_d7de428a76b14cf0ae0eff0bb46e7ba0)
        ;

        
    
    
            var marker_045a752c4b4646c38645488b39f46074 = L.marker(
                [51.037179, -114.079018],
                {}
            ).addTo(map_f4820bb54ba2402cb22dd6b17fded639);
        
    
            var icon_a7819501273d445885371eb6f19836ec = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_045a752c4b4646c38645488b39f46074.setIcon(icon_a7819501273d445885371eb6f19836ec);
        
    
        var popup_8d4531b082484208b4239c0004d24264 = L.popup({"maxWidth": "100%"});

        
            var html_4513030534bd4cc2bdc5ff695103512b = $(`<div id="html_4513030534bd4cc2bdc5ff695103512b" style="width: 100.0%; height: 100.0%;">Apartment Price:1300.0 Availability: January</div>`)[0];
            popup_8d4531b082484208b4239c0004d24264.setContent(html_4513030534bd4cc2bdc5ff695103512b);
        

        marker_045a752c4b4646c38645488b39f46074.bindPopup(popup_8d4531b082484208b4239c0004d24264)
        ;

        
    
    
            var marker_a0324f1c7e174af9bfd8a7629f0ace41 = L.marker(
                [51.0539047, -114.0855107],
                {}
            ).addTo(map_f4820bb54ba2402cb22dd6b17fded639);
        
    
            var icon_efd272692f8840e4b98b1486c79b2502 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_a0324f1c7e174af9bfd8a7629f0ace41.setIcon(icon_efd272692f8840e4b98b1486c79b2502);
        
    
        var popup_dc73c1f3892046d18e3120e1a64a8a61 = L.popup({"maxWidth": "100%"});

        
            var html_8c13b8e9c0e841d98c84a0107895df0f = $(`<div id="html_8c13b8e9c0e841d98c84a0107895df0f" style="width: 100.0%; height: 100.0%;">Condo Price:2900.0 Availability: January</div>`)[0];
            popup_dc73c1f3892046d18e3120e1a64a8a61.setContent(html_8c13b8e9c0e841d98c84a0107895df0f);
        

        marker_a0324f1c7e174af9bfd8a7629f0ace41.bindPopup(popup_dc73c1f3892046d18e3120e1a64a8a61)
        ;

        
    
    
            var marker_c6adbf8566134fcf9ca6c1f60e26d3ce = L.marker(
                [51.037644, -114.0703651],
                {}
            ).addTo(map_f4820bb54ba2402cb22dd6b17fded639);
        
    
            var icon_d7886a35b38b4f1ebb1fa2c23d5010d2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_c6adbf8566134fcf9ca6c1f60e26d3ce.setIcon(icon_d7886a35b38b4f1ebb1fa2c23d5010d2);
        
    
        var popup_7db90ff8e1c846ceaec35601ae9d8657 = L.popup({"maxWidth": "100%"});

        
            var html_1130d1283c4248d3849f4289433886a6 = $(`<div id="html_1130d1283c4248d3849f4289433886a6" style="width: 100.0%; height: 100.0%;">Apartment Price:865.0 Availability: call for availability</div>`)[0];
            popup_7db90ff8e1c846ceaec35601ae9d8657.setContent(html_1130d1283c4248d3849f4289433886a6);
        

        marker_c6adbf8566134fcf9ca6c1f60e26d3ce.bindPopup(popup_7db90ff8e1c846ceaec35601ae9d8657)
        ;

        
    
    
            var marker_098dae815ba94f088e923b010b2b755f = L.marker(
                [51.0370382, -114.0790526],
                {}
            ).addTo(map_f4820bb54ba2402cb22dd6b17fded639);
        
    
            var icon_1f30d6149d7d4cba846551b83a1bacc4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_098dae815ba94f088e923b010b2b755f.setIcon(icon_1f30d6149d7d4cba846551b83a1bacc4);
        
    
        var popup_7827629906ee446ea7aba7033a340bf4 = L.popup({"maxWidth": "100%"});

        
            var html_8c0f3710737a4e01aa6139391add5384 = $(`<div id="html_8c0f3710737a4e01aa6139391add5384" style="width: 100.0%; height: 100.0%;">Apartment Price:nan Availability: call for availability</div>`)[0];
            popup_7827629906ee446ea7aba7033a340bf4.setContent(html_8c0f3710737a4e01aa6139391add5384);
        

        marker_098dae815ba94f088e923b010b2b755f.bindPopup(popup_7827629906ee446ea7aba7033a340bf4)
        ;

        
    
    
            var marker_43b1df9bd5ec40ddb4374a18425bbdf8 = L.marker(
                [51.0418627, -114.0538114],
                {}
            ).addTo(map_f4820bb54ba2402cb22dd6b17fded639);
        
    
            var icon_dfd1f7a1e9dd47a59ee9fecb5795e78c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_43b1df9bd5ec40ddb4374a18425bbdf8.setIcon(icon_dfd1f7a1e9dd47a59ee9fecb5795e78c);
        
    
        var popup_41894b247a5c4326b0125362de0d9fed = L.popup({"maxWidth": "100%"});

        
            var html_4fd32c0cd7cb43e4a69659ce441f06fa = $(`<div id="html_4fd32c0cd7cb43e4a69659ce441f06fa" style="width: 100.0%; height: 100.0%;">Condo Price:2250.0 Availability: July</div>`)[0];
            popup_41894b247a5c4326b0125362de0d9fed.setContent(html_4fd32c0cd7cb43e4a69659ce441f06fa);
        

        marker_43b1df9bd5ec40ddb4374a18425bbdf8.bindPopup(popup_41894b247a5c4326b0125362de0d9fed)
        ;

        
    
    
            var marker_e0bbe1c9de904f069083d74136a6e68b = L.marker(
                [51.0861097, -114.0608604],
                {}
            ).addTo(map_f4820bb54ba2402cb22dd6b17fded639);
        
    
            var icon_987bd0c5997d4e68b07d6bc81cb963e0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_e0bbe1c9de904f069083d74136a6e68b.setIcon(icon_987bd0c5997d4e68b07d6bc81cb963e0);
        
    
        var popup_d9155915e9224eb59ae09ed802db58dc = L.popup({"maxWidth": "100%"});

        
            var html_638f722843cb47b98cadedc4a074c2f3 = $(`<div id="html_638f722843cb47b98cadedc4a074c2f3" style="width: 100.0%; height: 100.0%;">Basement Price:895.0 Availability: June</div>`)[0];
            popup_d9155915e9224eb59ae09ed802db58dc.setContent(html_638f722843cb47b98cadedc4a074c2f3);
        

        marker_e0bbe1c9de904f069083d74136a6e68b.bindPopup(popup_d9155915e9224eb59ae09ed802db58dc)
        ;

        
    
    
            var marker_093a2a0de7f1433080ab89900a1a9db9 = L.marker(
                [51.0423884, -114.0657116],
                {}
            ).addTo(map_f4820bb54ba2402cb22dd6b17fded639);
        
    
            var icon_0f219c1214e7401789343ee03b3f6e96 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_093a2a0de7f1433080ab89900a1a9db9.setIcon(icon_0f219c1214e7401789343ee03b3f6e96);
        
    
        var popup_b2c99928d99d49d0a6ddbbbd998e9713 = L.popup({"maxWidth": "100%"});

        
            var html_be0c9659e4c842d2a3fa76a87dda52eb = $(`<div id="html_be0c9659e4c842d2a3fa76a87dda52eb" style="width: 100.0%; height: 100.0%;">Apartment Price:1385.0 Availability: May</div>`)[0];
            popup_b2c99928d99d49d0a6ddbbbd998e9713.setContent(html_be0c9659e4c842d2a3fa76a87dda52eb);
        

        marker_093a2a0de7f1433080ab89900a1a9db9.bindPopup(popup_b2c99928d99d49d0a6ddbbbd998e9713)
        ;

        
    
    
            var marker_8c6f01081556447ea1d6308589522496 = L.marker(
                [50.9512148, -114.0853209],
                {}
            ).addTo(map_f4820bb54ba2402cb22dd6b17fded639);
        
    
            var icon_0026ec9601454bc09892f10d5a158037 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_8c6f01081556447ea1d6308589522496.setIcon(icon_0026ec9601454bc09892f10d5a158037);
        
    
        var popup_db0fd225591e46028ae5d58ca59ed6dc = L.popup({"maxWidth": "100%"});

        
            var html_71ea4dc7233f49e8b6e2121e3dfbc488 = $(`<div id="html_71ea4dc7233f49e8b6e2121e3dfbc488" style="width: 100.0%; height: 100.0%;">Apartment Price:1250.0 Availability: call for availability</div>`)[0];
            popup_db0fd225591e46028ae5d58ca59ed6dc.setContent(html_71ea4dc7233f49e8b6e2121e3dfbc488);
        

        marker_8c6f01081556447ea1d6308589522496.bindPopup(popup_db0fd225591e46028ae5d58ca59ed6dc)
        ;

        
    
    
            var marker_c2254ffbb1fb4457be81095a6a94f2b0 = L.marker(
                [51.048814, -113.988562],
                {}
            ).addTo(map_f4820bb54ba2402cb22dd6b17fded639);
        
    
            var icon_a0682846043e4c47b2d3310576c6ecc7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_c2254ffbb1fb4457be81095a6a94f2b0.setIcon(icon_a0682846043e4c47b2d3310576c6ecc7);
        
    
        var popup_99b792c3cfed4e0abb9f882f25e0aef3 = L.popup({"maxWidth": "100%"});

        
            var html_eddfd4544f7b473db297890cf6edf317 = $(`<div id="html_eddfd4544f7b473db297890cf6edf317" style="width: 100.0%; height: 100.0%;">Apartment Price:1353.0 Availability: May</div>`)[0];
            popup_99b792c3cfed4e0abb9f882f25e0aef3.setContent(html_eddfd4544f7b473db297890cf6edf317);
        

        marker_c2254ffbb1fb4457be81095a6a94f2b0.bindPopup(popup_99b792c3cfed4e0abb9f882f25e0aef3)
        ;

        
    
    
            var marker_4cfddf76a6ef4fa991a243b89e1257ca = L.marker(
                [51.064735378703, -114.209955114017],
                {}
            ).addTo(map_f4820bb54ba2402cb22dd6b17fded639);
        
    
            var icon_ebff343ce6a141a5abcc5e9cd8ea18ec = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_4cfddf76a6ef4fa991a243b89e1257ca.setIcon(icon_ebff343ce6a141a5abcc5e9cd8ea18ec);
        
    
        var popup_eab6c3cb4a73439c90aab7e302e2ebc7 = L.popup({"maxWidth": "100%"});

        
            var html_ec30f3dfeeb844d7994443aff1f585b9 = $(`<div id="html_ec30f3dfeeb844d7994443aff1f585b9" style="width: 100.0%; height: 100.0%;">Apartment Price:1650.0 Availability: January</div>`)[0];
            popup_eab6c3cb4a73439c90aab7e302e2ebc7.setContent(html_ec30f3dfeeb844d7994443aff1f585b9);
        

        marker_4cfddf76a6ef4fa991a243b89e1257ca.bindPopup(popup_eab6c3cb4a73439c90aab7e302e2ebc7)
        ;

        
    
    
            var marker_58da1346862e4c00bcb3f1839a59624a = L.marker(
                [50.9668952, -114.0671346],
                {}
            ).addTo(map_f4820bb54ba2402cb22dd6b17fded639);
        
    
            var icon_2257b9d15fbf45189bca0acadee608f8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_58da1346862e4c00bcb3f1839a59624a.setIcon(icon_2257b9d15fbf45189bca0acadee608f8);
        
    
        var popup_d603a5cdfc4a4cbdb90df8399bc6a4ab = L.popup({"maxWidth": "100%"});

        
            var html_6884377f3fe840f497005adef15b9521 = $(`<div id="html_6884377f3fe840f497005adef15b9521" style="width: 100.0%; height: 100.0%;">Apartment Price:1515.0 Availability: January</div>`)[0];
            popup_d603a5cdfc4a4cbdb90df8399bc6a4ab.setContent(html_6884377f3fe840f497005adef15b9521);
        

        marker_58da1346862e4c00bcb3f1839a59624a.bindPopup(popup_d603a5cdfc4a4cbdb90df8399bc6a4ab)
        ;

        
    
    
            var marker_4314e25814504afa84609f67a7c0489d = L.marker(
                [51.0832967, -114.1750817],
                {}
            ).addTo(map_f4820bb54ba2402cb22dd6b17fded639);
        
    
            var icon_fc05a045c98740cab0b2dd33c0f6a55f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_4314e25814504afa84609f67a7c0489d.setIcon(icon_fc05a045c98740cab0b2dd33c0f6a55f);
        
    
        var popup_d776dfb5a36f43b7b766fd9de6b36d81 = L.popup({"maxWidth": "100%"});

        
            var html_fc4ce49f8ade4e158f284e3467825ce2 = $(`<div id="html_fc4ce49f8ade4e158f284e3467825ce2" style="width: 100.0%; height: 100.0%;">Townhouse Price:1345.0 Availability: January</div>`)[0];
            popup_d776dfb5a36f43b7b766fd9de6b36d81.setContent(html_fc4ce49f8ade4e158f284e3467825ce2);
        

        marker_4314e25814504afa84609f67a7c0489d.bindPopup(popup_d776dfb5a36f43b7b766fd9de6b36d81)
        ;

        
    
    
            var marker_b620be0b70ee4e0497172e1c1ea73c24 = L.marker(
                [51.0307731, -114.0991578],
                {}
            ).addTo(map_f4820bb54ba2402cb22dd6b17fded639);
        
    
            var icon_7e3c3de79aac4cddb67a4a00fbd3281e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_b620be0b70ee4e0497172e1c1ea73c24.setIcon(icon_7e3c3de79aac4cddb67a4a00fbd3281e);
        
    
        var popup_29bde04ababf494abf4df13e05db5403 = L.popup({"maxWidth": "100%"});

        
            var html_500edcf5150c485288b17b9ca620f9f4 = $(`<div id="html_500edcf5150c485288b17b9ca620f9f4" style="width: 100.0%; height: 100.0%;">Apartment Price:1350.0 Availability: January</div>`)[0];
            popup_29bde04ababf494abf4df13e05db5403.setContent(html_500edcf5150c485288b17b9ca620f9f4);
        

        marker_b620be0b70ee4e0497172e1c1ea73c24.bindPopup(popup_29bde04ababf494abf4df13e05db5403)
        ;

        
    
    
            var marker_6c9c7680474d4c6d828740065a67171d = L.marker(
                [51.1580738, -114.0721951],
                {}
            ).addTo(map_f4820bb54ba2402cb22dd6b17fded639);
        
    
            var icon_fed620117c534521a6ed54bffcff3600 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_6c9c7680474d4c6d828740065a67171d.setIcon(icon_fed620117c534521a6ed54bffcff3600);
        
    
        var popup_81e12602fdd24d4bbde7ff9ebc4a347b = L.popup({"maxWidth": "100%"});

        
            var html_f08169e24d72476eb0c583e62593cbd0 = $(`<div id="html_f08169e24d72476eb0c583e62593cbd0" style="width: 100.0%; height: 100.0%;">Apartment Price:1350.0 Availability: call for availability</div>`)[0];
            popup_81e12602fdd24d4bbde7ff9ebc4a347b.setContent(html_f08169e24d72476eb0c583e62593cbd0);
        

        marker_6c9c7680474d4c6d828740065a67171d.bindPopup(popup_81e12602fdd24d4bbde7ff9ebc4a347b)
        ;

        
    
    
            var marker_b91ef69be54948dfa738924b3d0d64ca = L.marker(
                [50.8960136, -113.9342337],
                {}
            ).addTo(map_f4820bb54ba2402cb22dd6b17fded639);
        
    
            var icon_2ba8c49620d74acf80529759bdd46540 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_b91ef69be54948dfa738924b3d0d64ca.setIcon(icon_2ba8c49620d74acf80529759bdd46540);
        
    
        var popup_2e1ec5f886334004a857be509cec713f = L.popup({"maxWidth": "100%"});

        
            var html_1ed04eaae3d648fda0c1ae3744689d62 = $(`<div id="html_1ed04eaae3d648fda0c1ae3744689d62" style="width: 100.0%; height: 100.0%;">Apartment Price:4225.0 Availability: January</div>`)[0];
            popup_2e1ec5f886334004a857be509cec713f.setContent(html_1ed04eaae3d648fda0c1ae3744689d62);
        

        marker_b91ef69be54948dfa738924b3d0d64ca.bindPopup(popup_2e1ec5f886334004a857be509cec713f)
        ;

        
    
    
            var marker_889a07bb6b2745e49b5b2518e018d5fb = L.marker(
                [50.894226994473, -113.91024964816],
                {}
            ).addTo(map_f4820bb54ba2402cb22dd6b17fded639);
        
    
            var icon_4c116255a5824c818c0d9e620b094b73 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-home", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_889a07bb6b2745e49b5b2518e018d5fb.setIcon(icon_4c116255a5824c818c0d9e620b094b73);
        
    
        var popup_ac56f2dc34d24ac5a83c94a4772ed97a = L.popup({"maxWidth": "100%"});

        
            var html_9a99f6dd8f2d4dadab1429db0749745c = $(`<div id="html_9a99f6dd8f2d4dadab1429db0749745c" style="width: 100.0%; height: 100.0%;">Apartment Price:1248.0 Availability: January</div>`)[0];
            popup_ac56f2dc34d24ac5a83c94a4772ed97a.setContent(html_9a99f6dd8f2d4dadab1429db0749745c);
        

        marker_889a07bb6b2745e49b5b2518e018d5fb.bindPopup(popup_ac56f2dc34d24ac5a83c94a4772ed97a)
        ;

        
    
</script>